// header styles
.fas {
  color: $darkGreen;
}
// map and transit styles
.transitMap {
  padding: 20px;
  display: flex;
  margin: 100px;
}

.transit {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  padding: 20px;
  color: #c2edd8;
  background: #001e31;
  position: relative;
  animation-name: transit;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.map {
  width: 300px;
  margin-left: 100px;
 
  

  img {
    width: 100%;
  }
}

@keyframes transit {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}



.mode {
  font-size: 30px;
  display: inline-block;
  margin-right: 5px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

// Image button styles
.podcastButton {
  background: none;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    border: 2px solid $darkGreen;
  }
}


// input styles
input,
button {
  padding: 2px;
  
  &:focus {
    outline: none;
    border: 2px solid $darkGreen;
  }
}

// form styles
fieldset {
  border: none;
}


.wrapper ul li {
  position: relative;
}

.suggestion {
  border: 2px solid $darkGreen;
  padding: 10px;
  background: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.map{
  width: 250px;
  height: 250px;
  img{
    width: 100%;
  }
}
.transitMap{
  display: flex;
}



// Error Pop Up
.popup {
  position: fixed;
  background: #001e31;
  opacity: 1;

  top: 25%;
  left: calc(100%/4);
  width: 50vw;
  height: 300px;

  display: flex;
  flex-direction: column;
}

.popup p {
  text-align: center;
  color: white;
  margin: auto;
  font-size: 3rem;
}

.popup button {
  padding: 20px;
}

.popupBack {
  background-color: rgba(236, 230, 230, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}