.podcastContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 550px;
}

.podcastPiece {
  height: 75%;
}

.podcastSave {
  align-self: center;
  height: 25%;
  button {
    cursor: pointer;
  }
  :hover {
    background: $darkGreen;
    scale: 1.2;
  }
}

.podcastMenu {
    position: absolute;
    top: 56px;
    right: 0;
    background: cyan;
    width: 300px;
    padding: 10px;
    background-color:rgba(0, 30, 49, 0.8);
    border-radius: 5px;

    .podcastUserList {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .loginButton {
        width: 100px;
        margin: 10px 0 0 90px;

    }
}

.menuButton {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: $lightBlue;
}

.podcastItem {
    background-color: #c2edd8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;

  .podcastNameImage {
    display: flex;

    .podcastImageWrapper {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .podcastNameDelete {
      position: relative;
      width: 70%;

      p {
        margin: 0;
        font-size: 1.5rem;
        padding: 5px 0 0 10px;
        width: 190px;
      }

      button {
        background: none;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  audio {
    width: 100%;
    height: 25px;
    margin-top: 5px;
  }
}

.menuButton:hover, .menuButton:focus {
        background-color: rgba(0, 30, 49, 0.8);
        color: white;
        > .fas {
            color: white;
        }
}

.loginButton:hover, .loginButton:focus {
    background-color: $darkGreen;
    color: white;
}
.fa-bars {
    font-size:35px;
}