.podcastUserList {
  display: flex;
  flex-direction: column;
}

// podcast save button style

.podcastContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 550px;
}

.podcastPiece {
  height: 75%;
}
.podcastSave {
  align-self: center;
  height: 25%;
  button {
    cursor: pointer;
  }
  :hover {
    background: $darkGreen;
    scale: 1.2;
  }
}

.podcastItem {
  width: 300px;

  .podcastNameImage {
    display: flex;

    .podcastImageWrapper {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .podcastNameDelete {
      position: relative;
      width: 70%;

      p {
        margin: 0;
        font-size: 1.5rem;
        padding: 5px 0 0 10px;
        width: 190px;
      }

      button {
        background: none;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  audio {
    width: 100%;
    height: 25px;
    margin-top: 5px;
  }
}
